/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  background-color: var(--background-color);
  background-attachment: fixed;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  margin: 0;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

header {
  display: grid;
  height: max(668px, 100vh);
  width: 100%;
}

.rec {
  position: absolute;
  right: 20px;
  top: 10px;
}

.rec::before {
  content: "rec";
  text-transform: uppercase;
  display: inline-block;
  color: var(--rec-color);
  font-family: "IBM Plex Mono", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.rec::after {
  content: "";
  display: inline-block;
  height: 9px;
  width: 9px;
  margin-left: 10px;
  background-color: var(--rec-color);
  border-radius: 50%;
  box-shadow: 0 0 5px 3px var(--rec-color);
}

.decoration::before {
  content: "M.";
  position: absolute;
  color: transparent;
  right: 10px;
  top: 10px;
  font-size: 21px;
  border-top: 1px solid var(--menu-color);
  border-right: 1px solid var(--menu-color);
}

.decoration::after {
  content: "M.";
  position: absolute;
  color: transparent;
  left: 10px;
  bottom: 10px;
  font-size: 21px;
  border-bottom: 1px solid var(--menu-color);
  border-left: 1px solid var(--menu-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-right: 2.5vw;
  margin-top: 1vh;
}

.header__theme-menu-list {
  list-style: none;
}

.header__theme-menu-item {
  margin-bottom: 1.6vh;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  text-transform: lowercase;
  font-family: "IBM Plex Mono", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 0px 13px;
  color: var(--menu-color);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--menu-color);
}

.header__theme-menu-button:active {
  border: 1px solid var(--menu-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
  pointer-events: none;
}

.no-focus_title {
  margin-left: 2.5vw;
  align-self: start;
  font-family: "IBM Plex Mono", "Arial", sans-serif;
  font-size: var(--logo-size);
  font-weight: 700;
  line-height: 96px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--focus-color);
  text-shadow: 4px 4px var(--shadow-color);
  margin-bottom: 0.5vh;
  margin-top: 0vh;
}

.subtitle_box {
  justify-self: stretch;
  align-self: start;
  margin-left: auto;
  margin-right: 2.5vw;
  margin-bottom: 2.5vh;
  width: min(calc(100% - 1vw), 355px);
  background-color: var(--accent-color);
  height: min-content;
}

.subtitle {
  display: grid;
  align-self: center;
  font-family: "IBM Plex Mono", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  color: var(--subtitle-color);
  margin: 0;
}

@media (min-width: 768px) {

  .rec {
    top: 20px;
    right: 30px;
  }

  .decoration::before {
    right: 20px;
    top: 20px;
  }
  
  .decoration::after {
    left: 20px;
    bottom: 20px;
  }

  .header {
    grid-template-rows: min-content 1fr 1fr 1fr min-content;
  }

  .header__theme-menu {
    align-self: end;
    margin-bottom: 3.8vh;
  }

  .header__theme-menu-item {
    margin-bottom: 1vh;
  }

  .no-focus_title {
    margin-left: 0vw;
    justify-self: start;
    align-self: center;
  }

  .subtitle_box {
    margin-top: 4vh;
    justify-self: end;
    width: 364px;
  }
}

@media (min-width: 1024px) {

  .header {
    height: max(768px, 100vh);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;
  }

  .header__theme-menu {
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: start;
    margin-top: 0.3vh;
    margin-right: 4vw;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 1vw;
  }

  .no-focus_title {
    grid-column-start: 1;
    grid-column-end: 4;
    text-shadow: 4px 4px #FF0070;
  }

  .subtitle_box {
    grid-column-start: 2;
    grid-column-end: 3 span;
    grid-row-start: 3;
    width: 48vw;
    align-self: center;
    margin-bottom: 5vh;
    margin-right: 2vw;
  }
}

section {
  margin: 40px 10px 28px;
}

.article_why {
  display: grid;
  gap: 20px;
}

.article_why .article_title {
  width: 335px;
}

.article_what {
  display: grid;
  margin-top: 48px;
  gap: 20px;
}

.what {
  display: grid;
  gap: 20px;
}

.article_how {
  display: grid;
  gap: 20px;
  margin-top: 48px;
}

.article_title {
  margin: 0;
  font-family: "IBM Plex Mono", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--title-color);
}

.article_block {
  display: grid;
  gap: 20px;
}

.article_subtitle {
  margin: 0 0 10px 0;
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  font-family: "IBM Plex Mono", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.article_how .article_subtitle {
  margin-bottom: 0px;
}

.article_subtitle_point {
  margin: 0px 0 9px 0;
  font-family: "IBM Plex Mono", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23,5px;
  text-align: left;
  background-color: var(--accent-color);
  color: var(--subtitle-color);
}

.article_text {
  margin: 0;
  font-family: "IBM Plex Mono", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.5px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
  text-shadow: 2px 2px var(--accent-color);
}

a:hover {
  border-bottom: 1px solid var(--text-color);
}

a:focus {
  outline: none;
  border: 1px solid var(--text-color);
}

@media (min-width: 768px) {

  section {
    margin: 0 20px;
  }

  .article_block {
    gap: 20px;
  }

  .article_why {
    display: grid;
    margin-top: 60px;
    grid-template-columns: 200fr 420fr;
    gap: 30px;
  }

  .article_text {
  }

  .article_why .article_title {
    width: auto;
  }

  .article_what {
    margin-top: 80px;
  }

  .what {
    display: grid;
    gap: 20px;
  }

  .article_what .article_title {
    width: 236px;
  }

  .article_how {
    margin-top: 80px;
    grid-template-columns: 230fr 470fr;
    gap: 25px;
  }

}

@media (min-width: 1024px) {

  .article_why {
    grid-template-columns: 222fr 475fr;
  }

  .what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .article_how {
    margin-top: 80px;
    grid-template-columns: 222fr 475fr;
    gap: 30px;
  }

  .article_what .article_title {
    width: 260px;
  }
}

.pictures_block {
  display: grid;
  margin: 48px 10px 36px;
}

.pictures {
  display: grid;
  width: 100%;
  gap: 4px;
}

.picture {
  width: 100%;
  margin-top: 2px;
  object-fit: cover;
}

@media (min-width: 768px) {

  .pictures_block {
    margin: 80px 20px 0 20px;
  }

  .pictures {
    display: grid;
    margin-top: 8px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .picture {
    height: 100%;
    object-fit: cover;
  }

  .sunset {
    grid-column: 1/3;
  }

  .ice-cream {
    grid-column: 3;
    grid-row: 1/3;
  }

  .tape {
    grid-row: 2/4;
  }

  .street {
    grid-column: 2/4;
    grid-row: 3;
  }
}

.article_title_pictures {
  font-family: "IBM Plex Mono", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.footer {
  display: grid;
  position: relative;
  margin-top: 0px;
  margin: 0;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: max(668px, 100vh);
}

.focus_title {
  margin: 4vh 0 0 0;
  align-self: start;
  margin-bottom: 4vh;
  font-family: "IBM Plex Mono", "Arial", sans-serif;
  font-size: var(--logo-size);
  font-weight: 700;
  line-height: 96px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--focus-color);
  text-shadow: 2px 2px var(--shadow-color);
}

@media (min-width: 768px) {
  .footer {
    margin-top: 43px;
  }

  .focus_title {
    margin-bottom: 3.7vh;
  }
}

@media (min-width: 1024px) {
  .footer {
    margin-top: 44px;
    grid-template-columns: repeat(3, 1fr);
  }

  .focus_title {
    grid-column: 2;
    align-self: center;
    margin-bottom: 4.5vh;
    text-shadow: 2px 2px #FF0070;
  }
}
