/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  display: grid;
  background-color: var(--background-color);
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

header {
  display: grid;
  height: max(668px, 100vh);
  width: 100%;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  position: relative;
}

.corner_top {
  justify-self: end;
  align-self: start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 7px;
  font-size: 25px;
  color: transparent;
  line-height: 1em;
  border-top: 1px solid var(--menu-color);
  border-right: 1px solid var(--menu-color);
}

.corner_bottom {
  justify-self: start;
  align-self: end;
  margin-bottom: 30px;
  margin-left: 10px;
  font-size: 25px;
  color: transparent;
  line-height: 1em;
  border-bottom: 1px solid var(--menu-color);
  border-left: 1px solid var(--menu-color);
}

.header__theme-menu {
  justify-self: end;
  margin-right: 10px;
}

.header__theme-menu-list {
  list-style: none;
}

.header__theme-menu-item {
  margin-bottom: 11px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 0px 13px;
  color: var(--menu-color);
}

.header__theme-menu-button:hover {
text-decoration: underline;
}

.header__theme-menu-button:focus {
  border: none;
  text-decoration: underline;
}

.header__theme-menu-button:active {
  border: 1px solid var(--menu-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
  pointer-events: none;
}

.no-focus_title {
  margin-left: 10px;
  align-self: end;
  margin-bottom: 25px;
  font-family: IBM Plex Mono;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 96px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--focus-color);
  text-shadow: 4px 4px var(--accent-color);
}

.subtitle_box {
  margin-right: 10px;
  width: min(calc(100% - 20px), 364px);
  background-color: var(--accent-color);
  align-self: end;
  justify-self: end;
}

.subtitle {
  display: grid;
  align-self: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  color: var(--subtitle-color);
}

@media (min-width: 768px) {

  .corner_top {
    margin: 20px 20px 50px;
  }

  .corner_bottom {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .header__theme-menu {
    margin-right: 20px;
    margin-bottom: 30px;
  }

  .no-focus_title {
    margin-bottom: 25px;
    margin-left: 0;
    align-self: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .subtitle_box {
    margin-right: 20px;
    margin-bottom: 45px;
  }
}

@media (min-width: 1024px) {

  .header {
    height: max(768px, 100vh);
  }

  .header__theme-menu {
    position: absolute;
    margin-top: 18px;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    margin-left: 20px;
    gap: 9px;
  }

  .no-focus_title {
    margin-top: 90px;
    align-self: end;
    text-shadow: 4px 4px rgba(255, 0, 112, 1);

  }

   .subtitle_box {
    position: relative;
    top: 30px;
    right: 0px;
    width: 491px;
  }

}

section {
  margin: 40px 10px 30px;
}

.article_why {
  margin-top: 20px;
  display: grid;
}

.article_what {
  margin-top: 33px;
}

.article_how {
  display: grid;
  margin-top: 50px;
}

@media (min-width: 768px) {

  section {
    margin: 0 20px;
  }

  .article_why {
    margin-top: 60px;
    grid-template-columns: 230fr 475fr;
    gap: 30px;
  }

  .article_what {
    margin-top: 60px;
  }

  .article_what .article_title {
  width: 236px;
  }

  .article_how {
    margin-top: 83px;
    grid-template-columns: 230fr 475fr;
    gap: 30px;
  }

}

@media (min-width: 1024px) {

  .article_why {
    grid-template-columns: 222fr 475fr;
  }

  .what {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    .article_how {
      margin-top: 60px;
      grid-template-columns: 222fr 475fr;
      gap: 30px;
    }

    .article_what .article_title {
      width: 260px;
      }

}

.article_title {
  margin-bottom: 20px;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);

}

.article_block {
  display: grid;
}

.article_subtitle {
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 23,5x;
  letter-spacing: 0em;
  text-align: left;
}

.article_how .article_subtitle {
  margin-bottom: 20px;
}

.article_subtitle_point {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 23,5px;
  text-align: left;
  background-color: var(--accent-color);
  color: var(--subtitle-color);
}

.article_text {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 23,5px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color);
  margin: 10px 0 18px;
}

@media (min-width: 768px) {

  .article_text {
    margin: 7px 0 22px;
  }

}

a {
  text-decoration: none;
  color: var(--text-color);
  text-shadow: 2px 2px var(--accent-color);
}

a:hover {
  text-decoration: underline;
}

a:focus {
  border: 1px solid var(--hover-color);
}

.pictures_block {
  display: grid;
  margin: 20px 10px 0;
}

.pictures {
    display: grid;
    width: 100%;
}

.sunset {
  width: 100%;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (min-width: 768px) {

  .pictures_block {
    display: grid;
    margin: 60px 20px 0;
  }

  .pictures {
    margin-top: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .sunset {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .picture {
    object-fit: cover;
  }

  .ice-cream {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row: span 2;
  }

  .tape {
    grid-row: span 2;
  }

  .street {
    grid-column-start: 2;
    grid-column-end: 4;
  }

}

.article_title_pictures {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.footer {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 42px;
}

.focus_title {
  align-self: center;
  font-family: IBM Plex Mono;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 96px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--focus-color);
  text-shadow: 4px 4px var(--accent-color);
}

@media (min-width: 768px) {

  .footer {
    margin-top: 53px;
  }

  .focus_title {
    margin-bottom: 50px;
    align-self: center;
    font-family: IBM Plex Mono;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--focus-color);
    text-shadow: 4px 4px var(--accent-color);
  }

}

@media (min-width: 1024px) {

  .focus_title {
    text-shadow: 4px 4px rgba(255, 0, 112, 1);
  }

}
